<div>
  <div>
    <h3>COVID-19 Update (04/18/21)</h3>
    <p>Good news everyone!</p>

    <p>BH3 is going back to in-person live trails starting Wednesday, April 21! We have discussed some new measures to ensure the safety of everyone. 
    Please keep in mind that this is for the beginning of trails.</p>
    
    <p>What to expect on trail:</p>

    <ul>
    <li>All trails will be A-A’ and have an outdoor on in.</li>
    <li>Social distancing is required.</li> 
    <li>Masks should be on at all times, except for eating and drinking.</li> 
    <li>Pack size will be no more than the current Massachusetts outdoor capacity, currently 25.</li>
    <li>Everyone will need to sign up prior to trail.</li>
    <li>If we have more people than space, we will hold a lottery
      <ul>
        <li>Lottery will give preferential treatment to people who did not hash the previous week.</li>
        <li>If you do not get into the trail lottery, you will have an automatic start for the next week. </li>
      </ul>
    </li>
    <li>A bag car may be offered on trail. The hares will let everyone know by Sunday what the bag situation will be.</li>
    <li>No end of trail food for now. Individual packed orange food/ snacks may be provided</li>
    <li>Change in circle:
      <ul>
        <li>No one in circle except for RA and hares</li>
        <li>Stay in your spot. Take 2 steps forward for an accusation.</li>
        <li>Beer will be outside and away from circle.</li>
        <li>Mask must be worn when singing.</li>
      </ul>
    </li>
    </ul>
    
    <p>We are really excited to get back at it. We are expecting everyone to keep their social distance from other members of the pack. Please don’t be upset if someone reminds you of this. Please ask for consent before getting closer to someone.</p>
    
    <p>If you have any questions/ comments/ suggestions, please reach out to us.</p>
    
    <p>ON ON</p>
    <p>QMQ & O’bone’R</p>
    
    <p>TL:DR version: Live trails. Follow social distancing. Beer. Keep your mask on.</p>
    
  </div>
  <hr />
  <div>
      <h4 class="content-subhead">Join us on our next hash!</h4>
      <% if @next_hash != nil %>
      <h3><%= raw @next_hash.title%></h3>
      <h4>When:  <%=@next_hash.when.to_formatted_s(:long)%> (HST) </h4>
      <h4>Where: <a id="where" href="https://www.google.com/maps/dir/?api=1&origin=&destination=<%= raw @next_hash.where.sub! 'United States',''%>" target="_new"><%= raw @next_hash.where%></a></h4>
      <h4>Details:</h4><pre><%=auto_link(@next_hash.description,:html => { :target => '_blank' })%></pre>
      <% end %>
    </div>
</div>

<% if @next_hash != nil %>
<div class="full">
  <iframe id="map-canvas" src="https://www.google.com/maps/embed/v1/place?zoom=15&key=<%= raw @api_key %>&q=<%= raw @next_hash.where%>">
  </iframe>
</div>
<% end %>
<% content_for :footer do %>
<% end %>
